<table class="issuelist sortable">
	<tr>
		{% if issues_with_project %}
		<th>Project</th>
		{% endif %}
		<th>Priority</th>
		<th>Title</th>
		<th>Type</th>
		<th>Status</th>
		{% if project.milestone_set.all %}
			<th>Milestone</th>
		{% endif %}
	</tr>
	{% for issue in issue_list %}
      <tr class="prio-{{issue.priority.slug}}">
      	{% if issues_with_project %}
		<td><a href="{{ issue.project.get_absolute_url }}">{{issue.project}}</a></td>
		{% endif %}
		<td>{{issue.priority}}</td>
		<td><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></td>
		<td>{{issue.issue_type}}</td><td>{{issue.status}}</td>
		{% if project.milestone_set.all %}
			<td>{{issue.milestone}}</td>
		{% endif %}
	</tr>
    {% endfor %}
</table>