<!DOCTYPE html PUBLIC
          "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
<title>DjTracker Issue Tracker {% block title %}{% endblock %}</title>
<style type="text/css">
{% include "djtracker/djtracker.css" %}
{% block djstyle %}
{% endblock %}
</style>
{% block head %}
{% endblock %}
</head>
<body>
<div id="container">
<div id="top">
<h1><a href="/">DjTracker Issue Tracker</a></h1>
</div>
<div id="leftnav">
{% include "djtracker/sidebar.html" %}
{% block sidebar %}
{% endblock %}
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<div id="footer">
Footer
</div>
</div>
</body>
