{% extends "djtracker/base.html" %}
{% load comments i18n  markup %}
{% block title %} - {{ issue }} {% endblock %}
{% block content %}
  <table style="width: 100%"><tr><td class="col" style="width: 100%; padding-right: 10px;">  
  <h3>{% if request.user.is_authenticated %}<small class="inlineaction">{% if can_edit %}<a href="{% url project_modify_issue project.slug issue.id %}">{% trans "edit" %}</a> |{% endif %} {% if is_watching %}<a href="{% url project_issue project.slug issue.id %}?watch=no">{% trans "unwatch" %}</a>{% else %}<a href="{% url project_issue project.slug issue.id %}?watch=yes">{% trans "watch" %}</a>{% endif %}</small>{% endif %}<a href="{{ issue.project.get_absolute_url }}">{{ issue.project }}</a> : {{ issue }}</h3>  
  <div class="description">{{ issue.description|restructuredtext }}</div>
  <h4>{% if can_comment %}<small class="inlineaction"><a href="{% url project_file_upload project.slug issue.id %}">{% trans "Add an Attachment" %}</a></small>{% endif %}{% trans "Attachments" %}</h4>
  {% if issue.fileupload_set.all %}
  <ul>    
  {% for file in issue.fileupload_set.all %}
      <li><a href="{{ file.get_absolute_url }}">{{ file }}</a></li>
  {% endfor %}
  </ul>
  {% else %}
  <em>{% trans "no attachments yet" %}</em>
  {% endif %}
  {% get_comment_list for issue as comments %}
  {% if comments %}
    <h4>{% trans "Comments" %}</h4>
    {% for comment in comments %}
      <a name="comment{{comment.pk}}"/>(<a class="headerlink" title="permalink to this comment" href="#comment{{comment.pk}}">#</a>){% if comment.user %}
        <em style="color: #888888;"><a href="{{ comment.user.userprofile.get_absolute_url }}">{{ comment.user}}</a>{% else %}anon{% endif %}, {{ comment.submit_date|date:'r' }}:</em><br/>{{ comment.comment|restructuredtext }}<br/><br/>
    {% endfor %}
  {% endif %}  
  {% if can_comment %}
  <h4>{% trans "New Comment" %}</h4>
  {% if request.user.is_authenticated %}
    {% get_comment_form for issue as form %}	
    <form action="{% comment_form_target %}" method="post">
		 {{ form.content_type }}
         {{ form.object_pk }}
         {{ form.timestamp }}
         {{ form.security_hash }}
	<table class="commentform"><tr><td>
		 <input type="hidden" name="next" value="{% url project_issue project.slug issue.id %}" />
	     <span style="display: none;">{{ form.honeypot }}</span>
	  {{ form.comment }}</td></tr>
	 <tr><td><input type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/></td></tr></table>
    </form>			
  {% else %}
    {% render_comment_form for issue %}
  {% endif %}
  {% endif %}
  </td><td class="col">
  	{% include 'djtracker/blocks/issue_proptab.html' %}
  </td></tr></table>    
{% endblock %}
