{% extends "djtracker/base.html" %}
{% load i18n %}
{% block title %} - {{ project }}: {{ modifier_type }}{% endblock %}
{% block content %}
  {% if project %}
    <h3>{{ project }}</h3>
    <p> {{ project.description }}</p>
    <h4> {{ project }} &raquo; {% trans "Issues by" %} {{ modifier_type}} &raquo; {{ modifier }}</h4>
    {% with modifier.issue_set.all as issue_list %}
	{% include 'djtracker/blocks/issue_list.html' %}
	{% endwith %}
	{% if can_comment %}
      <a href="{% url project_submit_issue project.slug %}">{% trans "Submit Issue" %}</a>
    {% endif %}
  {% endif %}
{% endblock %}
