{% extends "djtracker/base.html" %}
{% block title %} - {{ project }}{% endblock %}
{% block content %}
  {% if project %}
    <h3>{{ project }}</h3>
    <p> {{ project.description }}</p>
    {% if project.component_set.all %}
      <h4>{{ project }}: Components</h4>
      <ul>
      {% for comp in project.component_set.all %}
        <p><li><a href="{{ comp.get_absolute_url }}">{{ comp }}</a></li></p>
      {% endfor %}
      </ul>
    {% endif %}
    {% if project.version_set.all %}
      <h4>{{ project }}: Versions</h4>
      <ul>
      {% for version in project.version_set.all %}
        <p><li><a href="{{ version.get_absolute_url }}">{{ version }}</a></li></p>
      {% endfor %}
      </ul>
    {% endif %}
    {% if project.milestone_set.all %}
      <h4>{{ project }}: Milestones</h4>
      <ul>
      {% for milestone in project.milestone_set.all %}
        <p><li><a href="{{ milestone.get_absolute_url }}">{{ milestone }}</a></li></p>
      {% endfor %}
      </ul>
    {% endif %}
    <h4> {{ project }}: Open  Issues </h4>
    {% for issue in open_issues %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <p><li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li></p>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
      <p><a href="{% url project_all_issues project.slug %}">View all Issues</a></p>
    {% if can_comment %}
      <a href="{% url project_submit_issue project.slug %}">Submit Issue</a>
    {% endif %}
  {% endif %}
{% endblock %}
