{% load get_objects %}
{% load i18n %}

{% get_object_models "djtracker" "issue" "-modified_date" "15" "bar_issue_list" %}
{# recent issues #}
{% if bar_issue_list %}
<h2>{% trans "Recently Active Issues" %}</h2>
<ul>
{% for bar_issue in bar_issue_list %}
  <li><a href="{{ bar_issue.get_absolute_url }}">{{ bar_issue }}</a></li>
{% endfor %}
</ul>
{% endif %}
{# search issues #}
{% if bar_project_list %}
<h2> {% trans "Search Issues" %}</h2>
<form action="{% url project_search %}" method="get">
    <select name="project">
        {% for x in bar_project_list %}
          {% if forloop.first %}
            {% ifequal bar_project_list.count 1 %}
              <option value="{{ x.slug }}">{{ x }}</option>
            {% else %}
              <option value="all">{% trans "All Projects" %}</option>
            {% endifequal %}
          {% endif %}
          {% ifnotequal bar_project_list.count 1 %}
            <option value="{{ x.slug }}">{{ x }}</option>
          {% endifnotequal %}
        {% endfor %}
    </select>
    <input type="text" name="search" />
    <input type="submit" value="{% trans "Submit" %}" />
</form>
{% endif %}

