{% extends "djtracker/base.html" %}
{% block content %}
  {% if user %}
    <h3>User: {{ user.username }}</h3>
    <p>IM Information: {{ profile.instant_messanger }}</p>
    {% if request.user.is_authenticated %}
      <p>Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    {% endif %}
    <hr />
    {% if assigned %}
      {% for issue in assigned %}
        {% if forloop.first %}
          <h4>Assigned Issues:</h4>
          <ul>
        {% endif %}
          <p><li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li></p>
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if created %}
       {% for issue in created %}
        {% if forloop.first %}
          <h4>Created Issues:</h4>
          <ul>
        {% endif %}
          <p><li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li></p>
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}

