{% extends "djtracker/base.html" %}
  {% block content %}
  <h4>Recently Updated Issues: </h4>
  {% for issue in recently_updated %}
    {% if forloop.first %}
      <ul>
    {% endif %}
    <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}

  {% if assigned_issues %}
    <h4>Assigned Issues: </h4>
    {% for issue in assigned_issues %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
      {% if forloop.last %}
       </ul>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if created_issues %}
    <h4>Created Issues: </h4>
    {% for issue in created_issues %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if watched_issues %}
    <h4>Watched Issues: </h4>
    {% for issue in watched_issues %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if commented_issues %}
    <h4>Commented Issues: </h4>
    {% for issue in commented_issues %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <li><a href="{{ issue.get_absolute_url }}">{{ issue }}</a></li>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if profile.issuefilter_set.all %}
    <h4>Saved Filters: </h4>
    {% for issue_filter in profile.issuefilter_set.all %}
      {% if forloop.first %}
        <ul>
      {% endif %}
      <li><a href="{{ issue_filter.get_filtered_url }}">{{ issue_filter.name }}</a>
        <a href="{% url project_filter_delete issue_filter.id %}">Delete Filter</a>
      {% if forloop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
